$headerHeight: 72px;

.movie {
  background-position: center center;
  background-size: cover;
  position: relative;
  margin-top: -$headerHeight;
  padding-top: $headerHeight + 20;

  &-page {
    header {
      background: transparent !important;
    }
  }

  &-overlay {
    background-color: rgba($color: #000000, $alpha: 0.7);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    z-index: 0;
  }

  &-date {
    font-size: 1.1rem;
    line-height: 1em;
    width: fit-content;
  }

  &-genders {
    li:first-child {
      list-style: none;
    }
  }

  &-poster {
    display: inline-block;
    box-shadow: 0px 0px 6px #000;
    border-radius: 10px;
    overflow: hidden;

    img {
      object-fit: cover;
    }
  }

  .container {
    position: relative;
    z-index: 1;
  }
}
