.login {
  background: var(--bs-dark) url("/images/home-hero.webp") top center no-repeat;
  background-size: cover;
  display: grid;
  min-height: 500px;
  height: 100vh;
  place-content: center center;
  width: 100%;

  &-overlay {
    background-color: rgba($color: #000000, $alpha: 0.70);
    position: fixed;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    z-index: 0;
  }

  &-box {
    position: relative;
    width: 310px;
    z-index: 1;
  }

  &-form {
    background-color: white;
    border-radius: 10px;
  }
}
