.category-card {
  background: rgb(33,37,41);
  background: linear-gradient(0deg, rgba(33,37,41,1) 0%, rgba(53,60,66,1) 100%);
  border-radius: 5px;
  box-shadow: 0 4px 7px #000;
  transition: all 0.2s ease-in-out;

  &:hover {
    transform: scale(1.1);
  }
}