:root {
  --fw-normal: 300;
  --fw-bold: 700;
  --font-family: "Montserrat";
  --header-height: 72px;
}

body {
  background: rgb(125, 129, 131);
  background: radial-gradient(
    circle,
    rgb(67, 70, 71) 0%,
    rgba(50, 60, 70, 1) 100%
  );
  font-family: var(--font-family), sans-serif;
  font-optical-sizing: auto;
  font-weight: var(--fw-normal);
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
b,
strong {
  font-weight: var(--fw-bold);
}
