:root {
  --fw-normal: 300;
  --fw-bold: 700;
  --font-family: "Montserrat";
}

body {
  font-family: var(--font-family), sans-serif;
  font-optical-sizing: auto;
  font-weight: var(--fw-normal);
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
b,
strong {
  font-weight: var(--fw-bold);
}
